{% extends "connected.html.twig" %}

{% block title %}
Administration
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" type="text/css" href="{{WEBROOT}}templates/css/admin.css"/>
<link rel="stylesheet" type="text/css" href="{{WEBROOT}}templates/css/content.css"/>
<script>
    $(function() {
        $( "#accordion" ).accordion({
            heightStyle: "content",
            autoHeight: false,
            navigation: true
        });
    });
    </script>
{% endblock %}

{% block sectionTitle %}
    Administration
{% endblock %}

{% block body %}
{% block menu %}

    <aside class="menu">
        <nav>
            <ul id="accordion">
                <li>
                    <a href="{{WEBROOT}}admin">Administration générale</a>
                    <ul>
                        <li>
                            <a href="{{WEBROOT}}entete">Modifier l'entête</a>
                        </li>
                        <li>
                            <a href="{{WEBROOT}}configurationBDD">Configuration la base de donn&eacute;e</a>
                        </li>
                         <li>
                            <a href="{{WEBROOT}}adminPassword">Mot de passe administration</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gestion des patients</a>
                    <ul>
                        <li>
                            <a href="{{WEBROOT}}patient">Consulter les patients</a>
                        </li>
                        <li>
                            <a href="{{WEBROOT}}patient/add">Ajouter un patient</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Gestion des médecins</a>
                    <ul>
                        <li>
                            <a href="{{WEBROOT}}medecin">Consulter les médecins</a>
                        </li>
                        <li>
                            <a href="{{WEBROOT}}medecin/add">Ajouter un médecin</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
{% endblock %}
{% endblock %}
