{% extends "admin.html.twig" %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{WEBROOT}}templates/js/jPages/css/jPages.css">
<script type="text/javascript" src="{{WEBROOT}}templates/js/jPages/js/jPages.js"></script>
<script type="text/javascript">
    $(function(){
        $("div.holder").jPages({
            containerID : "itemContainer",
            previous: "précédent",
            next: "suivant",
            perPage: 10
        });
    });
    </script>
{% endblock %}
{% block contentTitle %}Traitements communsà deux maladies{% endblock %}    

{% block content %}
{% if maladies != NULL %}
    <div class="holder"></div>
    <table class="zebra">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Libellé de la maladie</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="itemContainer">
            {% for m in maladies %}
                <tr>
                    <td>{{m.idMaladie}}</td>
                    <td>{{m.libelle}}</td>
                    <td>
                            {% if maladie1 != NULL %}
                            <a href="{{WEBROOT}}procedures/traitementCommuns/{{maladie1}}/{{m.idMaladie}}">
                                Selectionner la seconde maladie
                            </a>
                                {% else %}
                            <a href="{{WEBROOT}}procedures/traitementCommuns/{{m.idMaladie}}">
                                Selectionner la première maladie
                            </a>
                                {% endif%}
                        </td>
                    </tr>
            {% endfor %}
                </tbody>

            </table>
     {% elseif medicaments != null %}
            {% if medicaments|length == 0 %}
            Aucun médicament ne correspond entre les deux maladies.
            {% else %}
            <div class="holder"></div>
            <table class="zebra">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Libelle</th>
                    </tr>
                </thead>
                <tbody id="itemContainer">
            {% for m in medicaments %}
                        <tr>
                            <td>{{m.codeCis}}</td>
                            <td>{{m.libelle}}</td>
                        </tr>
            {% endfor %}
                    </tbody>

                </table>
           {% endif %}
    {% else %}
         Aucune correspondance n'a été trouvée.
    {% endif %}
{% endblock %}