{% extends "user.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{WEBROOT}}templates/js/jPages/css/jPages.css">
<script type="text/javascript" src="{{WEBROOT}}templates/js/jPages/js/jPages.js"></script>
<script type="text/javascript">
    $(function(){
        $("div.holder").jPages({
            containerID : "itemContainer",
            previous: "précédent",
            next: "suivant",
            perPage: 10
        });
    });
    </script>
{% endblock %}

{% block contentTitle %}Liste des patients{% endblock %}    

{% block content %}
    {%if patients != NULL %}
    <div class="holder"></div>
    <table class="zebra">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Téléphone</th>
                <th>Date de naissance</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="itemContainer">
            {% for m in patients %}
                <tr class="click" onclick="document.location.href='{{WEBROOT}}patient/view/{{m.matricule}}'">
                    <td>{{m.nom}}</td>
                    <td>{{m.prenom}}</td>
                    <td>{{m.telephone}}</td>
                    <td>{{m.dateNaissance}}</td>
                    <td>
                        <a href="{{WEBROOT}}medecin/update/{{m.matricule}}">
                            <img width="32px" src="{{WEBROOT}}templates/img/edit.png" alt="Modifier"/>
                        </a>
                    </td>
                    <td>
                        <a href="{{WEBROOT}}medecin/delete/{{m.matricule}}" onclick="return confirm('Voulez-vous vraiment supprimer ce medecin?');">
                            <img width="32px" src="{{WEBROOT}}templates/img/delete.png" alt="Supprimer"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        Il n'y a aucun patient enregistr&eacute;
    {% endif %}
{% endblock %}