{% extends "admin.html.twig" %}

{% block title %}
{{ parent() }} - Médecins
{% endblock %}

{% block stylesheets %}
<script type="text/javascript" src="{{WEBROOT}}templates/js/login.js"></script>
{{ parent() }}
{% endblock %}

{% block contentTitle %}
{% if medecin is not null %}
        Modifier un médecin
    {% else %}
        Ajouter un médecin
    {% endif %}
{% endblock %}     
{% block content %}
    {% if medecin is not null %}
        <form action="{{WEBROOT}}medecin/updateProccess/{{matricule}}" method="post" name="formUpdate" onsubmit='javascript:submit_pass("formUpdate");'>
    {% else %}
        <form action="{{WEBROOT}}medecin/addProccess" method="post" name="formAjout" onsubmit='javascript:submit_pass("formAjout");'>
    {% endif %}
                <fieldset>
                    <legend><b>Informations</b></legend>
                    <input type='hidden' name='md5' />
                    <label>Identifiant*</label>
                    <input type="text" name="login" id="login" placeholder="Identifiant" autofocus 
                           required value="{% if medecin is not null %}{{medecin.login}}{%endif %}"/>
                    <br/>
                    <label>Mot de passe*</label>
                    <input type="password" name="password" id="password" placeholder="Mot de passe" required
                           value="{% if medecin is not null %}{{medecin.motDePasse}}{%endif %}"/>
                    <br/>
                    <label>Nom*</label>
                    <input type="text" name="nom" id="login" placeholder="Nom"
                           required value="{% if medecin is not null %}{{medecin.nom}}{%endif %}"/>
                    <br/>
                    <label>Pr&eacute;nom*</label>
                    <input type="text" name="prenom" placeholder="Prénom" required
                           value="{% if medecin is not null %}{{medecin.prenom}}{%endif %}"/>
                    <br/>
                    <label>T&eacute;l&eacute;phone</label>
                    <input type="text" name="telephone" id="telephone" placeholder="Téléphone" 
                           value="{% if medecin is not null %}{{medecin.telephone}}{%endif %}"/>
                    <br/>
                    <label>Date de naissance</label>
                    <input type="date" name="dtns" id="dtns" placeholder="Date de naissance" 
                           value="{% if medecin is not null %}{{medecin.dateNaissance}}{%endif %}"/>
                    Format : DD/MM/YYYY <br/> 
                    <label>Numero de s&eacute;curit&eacute; sociale</label>
                    <input type="text" name="secu" id="secu" placeholder="Numero de securité sociale"
                           value="{% if medecin is not null %}{{medecin.numeroSecu}}{%endif %}"/>
                    <br/>
                </fieldset>
                <fieldset>
                    <legend><b>Adresse</b></legend>
                    <label>Num&eacute;ro</label>
                    <input type="text" name="numero" id="numero" placeholder="Numero"
                           value="{% if medecin is not null %}{{medecin.adresse.numero}}{%endif %}"/>
                    <br/>
                    <label>Adresse</label>
                    <input type="text" name="adresse" id="adresse" placeholder="Adresse"
                           value="{% if medecin is not null %}{{medecin.adresse.adresse}}{%endif %}"/>
                    <br/>
                    <label>Ville</label>
                    <input type="text" name="ville" id="ville" placeholder="Ville" 
                           value="{% if medecin is not null %}{{medecin.adresse.ville}}{%endif %}"/>
                    <br/>
                    <label>Code Postal</label>
                    <input type="text" name="codePostal" id="codePostal" placeholder="codePostal"
                           value="{% if medecin is not null %}{{medecin.adresse.codePostal}}{%endif %}"/>
                    <br/>

                </fieldset>
                (*)Champs obligatoires <br/>
                <input type="submit" value="Valider"/>
            </form>
{% endblock %}